@-webkit-keyframes text-pop-up-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		text-shadow: none;
	}
	100% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
			0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
			0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
	}
}
@keyframes text-pop-up-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		text-shadow: none;
	}
	100% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
			0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
			0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
	}
}

.screen-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--horizontal-space);
	padding-top: 45px;
	margin-bottom: 15px;
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.screen-header__title {
	font-size: 32px;
	font-weight: 600;
}

.screen-header__icons span {
	margin-left: 25px;
}

.screen-header__icons-cog {
	position: relative;
}

.screen-header__icons__dot {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: tomato;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	left: -4px;
	top: -4px;
}

@keyframes rotateCog {
	from {
		transform: none;
	}
	to {
		transform: rotateZ(360deg);
	}
}

.screen-header__icons .fa-cog:hover {
	animation: rotateCog 1s linear infinite;
}
